<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style Binding</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <header>
        <h2>Vue JS - Style Binding</h2>
    </header>

    <div id="app">
        <label for="">Type Color: </label>
        <input type="text" v-model="color">
        <br>
        <br>
        <label for="">Type Background Color: </label>
        <input type="text" v-model="bgColor">
        <br>
        <br>
        <label for="">Choose Color: </label>
        <input type="color" v-model="bgColor">
        <br>
        <br>
        <div class="card" :style="{backgroundColor: bgColor, color: color}">
            Card
        </div>

        <!-- It can also be possible as normal way:: -->
        <!-- <div class="card" :style="'background-color: ' +bgColor">
            Card
        </div> -->
    </div>
    
    <script src="style.js"></script>
</body>
</html>